/* You can add global styles to this file, and also import other style files */
 @import 'variables';
 @import '../node_modules/bootstrap/scss/bootstrap';

html, body{
  padding: 0;
  margin: 0;
}

body{
  overflow-y: hidden;
}

.pac-container {
    z-index: 1051;
}

#addPost{
  padding: 0;
}

.btn:hover{
  cursor: pointer;
}

.gm-style .gm-style-iw {
  font-size: 1rem;
  max-height: 350px;
}

.markerInfoWindow[_ngcontent-c1]{
  max-height: 350px;
}

@media only screen and (max-width: 450px) and (max-height: 750px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
  .gm-style .gm-style-iw {
    font-size: 1rem;
    min-width: 170px;
    // max-width: 270px;
    width: calc(100vw - 60px) !important;
    max-height: 290px;
    overflow: scroll;
  }

  .markerInfoWindow{
    padding: 0 !important;
    margin: 0 !important;
    max-height: 100%;
    width: 100% !important;
    height: auto;
    overflow: scroll;
  }
}

@media only screen and (max-width: 667px) and (max-height: 375px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
  .gm-style .gm-style-iw {
    font-size: 1rem;
    min-width: 320px;
    max-width: 380px;
    max-height: 200px;
    overflow: scroll;
  }

  .markerInfoWindow[_ngcontent-c1]{
    padding: 0 !important;
    margin: 0 !important;
    max-height: 200px;
    overflow: scroll;
  }
}
