<div class="top-section">
  <nav>
    <ul>
      <li><a routerLink="/">Home</a></li>
      <li><a routerLink="/post">Events</a></li>
      <li *ngIf="!loggedInUser"><a routerLink="/user">User</a></li>
      <li *ngIf="loggedInUser">
        <a href="" (click)="logout($event)">Logout</a>
      </li>
      <li></li>
      <li *ngIf="loggedInUser" id='nameItem'><strong>{{loggedInUser.username}}  </strong></li>
      <li *ngIf="!loggedInUser && flashMsg">
        {{flashMsg}}
      </li>
    </ul>
  </nav>
</div>

<div class="body">
  <div class="wrapper">
    <h2>Welcome to EventsNearMe!</h2>

    <p>Hello! Find recent events near you – visually and clearly presented on Google Maps.</p>

    <a *ngIf="!loggedInUser" routerLink="/user" class="btn btn-dark">Login to get started!</a>
    <a *ngIf="loggedInUser" routerLink="/post" class="btn btn-dark">Let's Go!</a>
  </div>
</div>
