<div class="top-section">
  <nav>
    <ul>
      <li><a routerLink="/">Home</a></li>
      <li><a routerLink="/post">Events</a></li>
      <li><a routerLink="/user">User</a></li>
      <li *ngIf="!loggedInUser">
        {{flashMsg}}
      </li>
      <li *ngIf="loggedInUser">
        <button type="button" (click)="logout()">Logout</button>
      </li>
    </ul>
  </nav>
</div>

<div class="search_section">
  <section class="searchBar" *ngIf="loggedInUser">
    <label for="geoSearch">Location:</label>
    <input id="geoSearch" types="text"/>
    <label for="title">Title:</label>
    <input [(ngModel)]="title" type="text" id="title" required>
    <label for="image_url">Image Url:</label>
    <input [(ngModel)]="image_url" id="image_url" type="text" required>
    <label for="description">Description:</label>
    <input [(ngModel)]="description" id="description" type="text" required>
    <button type="button" (click)="createPost()">Add Post</button>
  </section>
</div>

<ngui-map
(mapReady$)="onMapReady($event)"
center="San Francisco, California"
zoom="12"
>
<div id="markers">
  <div *ngIf="posts">
    <div *ngFor="let post of posts" >

      <div class="markerInfoWindow" id="{{post._id}}">
        <div *ngIf="post._id != editable">
          <div><img src="{{post.place.icon}}" width="16" height="16" id="place-icon">
          <span class="place-title">{{post.title }}</span>
        </div><hr>
          <div class="place-description">{{post.description}}</div><br>
          <span class="place-address"><i>{{formatAddress(post.place.address_components)}}</i></span>
          <div *ngIf="post._id != displayComments && loggedInUser">
            <p>
              <span *ngIf="post.author == loggedInUser.username">
                <button type="button" (click)="deletePost(post._id)" class="iconBtn">
                  <img class="icon" src="../../assets/bin.png">
                </button>
                <button type="button" (click)="toggleEditable(post)" class="iconBtn">
                  <img class="icon" src="../../assets/pencil.png">
                </button>
              </span>
              <button type="button" (click)="toggleComments(post)" class="iconBtn">
                <img class="icon" src="../../assets/comment.png">
              </button>
            </p>
          </div>
          <div *ngIf="post._id === displayComments && loggedInUser">
            <textarea class="comment_textarea"type="text" [(ngModel)]="tempComment" placeholder="Add a comment">
            </textarea>
            <p>
              <button type="button" (click)="addComment(post,tempComment)">Submit</button>
              <button type="button" (click)="toggleComments(post)">Cancel</button>
            </p>
            <span *ngIf="post.comments.length > 0">Comments:</span>
            <div *ngFor="let comment of post.comments" >
              <p class="comments">
                <span >
                  <span *ngIf="!this.editing">{{comment.content}}</span>
                  <span *ngIf="comment._id !== this.displaySubComment && !this.editing && comment.user_id == loggedInUser._id">
                    <button type="button" (click)="deleteSubComment(post,comment)" class="iconBtn">
                      <img class="icon" src="../../assets/bin.png">
                    </button>
                    <button type="button" (click)="toggleSubComment(comment)" class="iconBtn">
                      <img class="icon" src="../../assets/pencil.png">
                    </button>
                  </span>
                  <span *ngIf="comment._id === this.displaySubComment && this.editing">
                    <input [(ngModel)]="tempSubComment.content" type="text" placeholder="title">
                    <button type="button" (click)="toggleSubComment(tempSubComment)">Cancel</button>
                    <button type="button" (click)="updateSubComment(post,tempSubComment)">Update</button>
                  </span>
                </span>
              </p>
            </div>

          </div>
        </div>
        <div *ngIf="post._id === editable">
          <input [(ngModel)]="tempPost.title" type="text" placeholder="title">
          <p> <textarea class="comment_textarea"[(ngModel)]="tempPost.description" placeholder="description"></textarea></p>
          <button type="button" (click)="toggleEditable(tempPost)">Cancel</button>
          <button type="button" (click)="updatePost(tempPost)">Update</button>
        </div>
      </div>
      <marker
        position="{{post.place.geometry.location.lat}},{{post.place.geometry.location.lng}}"
        (initialized$)=
        "onMarkerInit($event,post)"
        draggable="false"
        animation="DROP"
        >
      </marker>

    </div>
  </div>
</div>
</ngui-map>


<div id="groupInfoWindowContent">
</div>

<div id="infowindow-content">
  <img src="" width="16" height="16" id="place-icon">
  <span id="place-name"  class="title"></span><br>
  <span id="place-address"></span>
</div>
