ngui-map{
  height: calc(100vh - 90px);
}

.markerInfoWindow{
  display: none;
  max-width: 300px;
  max-height: 250px;
  padding: 5px 10px 5px 10px;
  margin: 10px;
}
hr{
  margin: 2px;
}

.icon{
  width: 18px;
  height: 18px;
}
.iconBtn{
  background-color: white;
  border: none;
  float: right;
}
.comment_textarea{
  width: 100%;
}

.wrapper{
  text-align: center;
}

.top-section {
  width: 100%;
  /*background: rgb(204, 236, 252);*/
}

.top-section nav {
  /*max-width: 940px;
  margin: 0 auto;*/
  /*height: 60px;
  line-height: 60px;*/
}

.top-section nav ul {
  height: 40px;
  line-height: 40px;
}

/*.top-section nav ul li {
  float: left;
  padding: 0;
  font-size: 35px;
}*/

.top-section nav ul li {
  display: inline;
  list-style-type: none;
  height: 40px;
  line-height: 40px;
  float: left;
  padding: 0 10px;
}

.description_area{
  padding: 5px 10px;
  min-height: 30px;
}

.comments_section{
  float: right;
  display: inline-block;
}
.comments{
  line-height: 30px;
}

.light-bg{
  background-color: rgb(239, 245, 247);
}


ul{
  margin: 0;
  padding: 0;
}
