<section class="searchBar">
  <label for="geoSearch">Location:</label>
  <input id="geoSearch" types="text"/>
  <label for="title">Title:</label>
  <input [(ngModel)]="title" type="text" id="title" required>
  <label for="image_url">Image Url:</label>
  <input [(ngModel)]="image_url" id="image_url" type="text" required>
  <label for="description">Description:</label>
  <input [(ngModel)]="description" id="description" type="text" required>
  <button type="button" (click)="createPost()">Add Post</button>
</section>

<ngui-map
(mapReady$)="onMapReady($event)"
center="San Francisco, California"
zoom="12"
>
<div id="markers">
  <div *ngIf="posts">
    <div *ngFor="let post of posts" id="{{post._id}}">
      
      <div class="markerInfoWindow">
        <div *ngIf="post._id != editable">
          <img src="{{post.place.icon}}" width="16" height="16" id="place-icon">
          <span class="place-title">{{post.title }}</span><br>
          <span class="place-description">{{post.description}}</span><br>
          <span class="place-address">{{formatAddress(post.place.address_components)}}</span>
          <p>
            <button type="button" (click)="toggleEditable(post)">Edit</button>
            <button type="button" (click)="deletePost(post._id)">Delete</button>
          </p>
        </div>
        <div *ngIf="post._id === editable">
          <p><input [(ngModel)]="tempTitle" type="text" placeholder="title"></p>
          <p><textarea [(ngModel)]="tempDescription" placeholder="description"></textarea></p>
          <button type="button" (click)="toggleEditable(post)">Cancel</button>
          <button type="button" (click)="updatePost(post,tempTitle,tempDescription)">Update</button>
        </div>
      </div>
      <marker
        position="{{post.place.geometry.location.lat}},{{post.place.geometry.location.lng}}"
        (initialized$)=
        "onMarkerInit($event,post)"
        draggable="false"
        animation="DROP"
        >
      </marker>

    </div>
  </div>
</div>

</ngui-map>
<div id="infowindow-content">
  <img src="" width="16" height="16" id="place-icon">
  <span id="place-name"  class="title"></span><br>
  <span id="place-address"></span>
  <button type="button" (click)="testing($event)">Click Me</button>
</div>
