ul{
  margin: 0;
  padding: 0;
}

.viewBody{
  font: 1.2rem;
}

.markerInfoWindow{
  display: none;
  max-width: 376px;
  max-height: 250px;
  padding: 5px 10px 5px 10px;
  margin: 10px;
}
hr{
  margin: 2px;
}

#addPostTag{
  margin: 0;
}

#addPostTag:hover{
  cursor: pointer;
}

.icon{
  width: 18px;
  height: 18px;
}

.iconBtn{
  background-color: white;
  border: none;
  float: right;
}

.comment_textarea{
  width: 100%;
}

.wrapper{
  text-align: center;
}

.top-section {
  width: 100vw;
  color: rgb(17, 231, 255);
  position: absolute;
  z-index: 1;
  background-color: rgba(0,0,0,.8);
}

.btn-dark{
  color: rgb(17, 231, 255);
}

.btn:hover{
  color: yellow;
}

ngui-map{
  height: 100vh;
}

ngui-map p{
  margin-bottom: 5px;
}

ngui-map button:hover{
  background: yellow;
  cursor: pointer;
}

ngui-map input{
  line-height: 2px !important;
}

ngui-map .btn{
  font-size: .8rem;
  padding: 1px 3px;
}

ngui-map .btn-dark{
  color: black;
  background-color: white;
}

ngui-map .myBtn {
  padding: 1px 3px;
  line-height: normal;
}

.top-section a {
  color: inherit;
  text-decoration: inherit;
}

.top-section nav ul {
  height: 40px;
  line-height: 40px;
}

.top-section nav ul li {
  display: inline;
  list-style-type: none;
  height: auto;
  padding: 3px 6px;
  float: left;
}

.top-section nav ul li:last-child {
  float: right;
}

#nameItem{
  float:right;
}

.top-section nav ul li:hover {
  color: yellow;
}

#nameItem:hover{
  color:inherit;
}

.search_section input{
  width: -webkit-fill-available;
}

.search_section textarea{
  width: -webkit-fill-available;
  min-height: 80px;
}

.search_section{
  width:auto;
  height: auto;
}

.description_area{
  padding: 5px 10px;
  min-height: 30px;
}


.comments_section{
  float: right;
  display: inline-block;
}

.comments{
  line-height: 30px;
}

.light-bg{
  background-color: rgb(239, 245, 247);
}

@media only screen and (max-width: 667px) and (max-height: 375px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
  .viewBody{
    font-size: 1.5rem;
    line-height: 2.3;
  }

  .body{
    padding: 50px 0;
  }

  p{
    margin: 8px;
  }

  .markerInfoWindow{
    max-width: 375px;
    max-height: 220px;
    width: calc(100vw - 100px);
    /*padding: 2px 5px 2px 5px;*/
    padding: 10px;
    margin: 0;
    overflow: scroll;
  }
}

@media only screen and (max-width: 375px) and (max-height: 667px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
  .viewBody{
    font-size: 1.5rem;
    line-height: 2.3;
  }

  .body{
    padding: 50px 0;
  }

  p{
    margin: 0px 0 ;
  }

  .markerInfoWindow{
    max-width: 375px;
    max-height: 250px;
    width: calc(100vw - 100px);
    /*padding: 2px 5px 2px 5px;*/
    padding: 10px;
    margin: 0;
    overflow: scroll;
  }
}
