ul{
  margin: 0;
  padding: 0;
}

.bold{
  font-weight: bold;
}

.viewBody{
  font: 1.2rem;
  height: 100vh;
  width: 100vw;
  position: fixed;
  overflow: hidden;
}

.markerInfoWindow{
  display: none;
  max-width: 376px;
  max-height: 280px;
  min-width: 350px;
  padding: 5px 10px 5px 10px;
  word-wrap: break-word;
  overflow-y: scroll;
}

hr{
  margin: 2px;
}

#addPostTag{
  margin: 0;
}

#addPostTag:hover{
  cursor: pointer;
}

.icon{
  width: 18px;
  height: 18px;
}

.iconBtn{
  border: none;
  float: right;
  height: 35px;
  width: 35px;
  line-height: 35px;
  vertical-align: middle;
}

.comments .iconBtn {
  background: rgb(235, 243, 247);
}

.comment_textarea{
  display: block;
  padding: 7px 5px;
  width:100%;
}

.comment_textarea_wrapper {
  display: block;
  position: static;
  bottom: 0;
  width: 100%;
  height: 50px;
  background: white;
}

.comment_textarea_wrapper button {
  display: inline;
  float: right;
  width: 20%;
}

p textarea {
  margin: 10px 0;
}

.wrapper{
  text-align: center;
}

.place-title {
  font-weight: bold;
  padding: 6px;
}

.place-description {
  padding: 6px 6px;
}

.main-post {
  background: rgb(230, 243, 247);
  padding: 15px 15px 22px 15px;
  border-radius: 0px 0px 0 0;
}

.top-section {
  width: 100vw;
  color: rgb(17, 231, 255);
  position: relative;
  z-index: 1;
  background-color: rgba(0,0,0,.8);
  height: 43px;
}

.btn-dark{
  color: rgb(17, 231, 255);
}

.btn:hover{
  color: yellow;
}

ngui-map{
  height: calc(100vh - 43px);
}

ngui-map p{
  margin-bottom: 5px;
}

.comments .iconBtn:hover, ngui-map button:hover{
  background: yellow;
  cursor: pointer;
}

ngui-map textarea{
  min-height: 70px;
}

ngui-map input{
  line-height: 2px !important;
  padding: 7px 5px;
}

ngui-map .btn{
  font-size: .8rem;
  padding: 1px 3px;
}

ngui-map .btn-dark{
  color: black;
  background-color: white;
}

ngui-map .myBtn {
  padding: 1px 3px;
  line-height: normal;
  background: white;
}

.top-section a {
  color: inherit;
  text-decoration: inherit;
}

.top-section nav ul {
  height: 40px;
  line-height: 40px;
}

.top-section nav ul li {
  display: inline;
  list-style-type: none;
  height: auto;
  padding: 0px 6px;
  float: left;
}

.top-section nav ul li:last-child {
  float: right;
}

.navBtn{
  width: 40px;
  height: 40px;
}

#nameItem{
  float:right;
  padding: 0 6px;
}

.top-section nav ul li:hover {
  color: yellow;
}

#nameItem:hover{
  color:inherit;
}

.search_section input{
  width: -webkit-fill-available;
}

.search_section textarea{
  width: -webkit-fill-available;
  min-height: 80px;
}

.search_section{
  width:auto;
  height: auto;
}

.markerInfoWindow input{
  width: 100%;
}

.description_area{
  padding: 5px 10px;
  min-height: 35px;
}


.comments_section{
  margin-top: 10px;
  /* max-height: 170px; */
  position: relative;
  /*overflow: scroll;*/
}

.comments{
  width: 100%;
  display: inline-block;
  height: auto;
  margin: 5px 0 10px 0;
  line-height: 30px;
  vertical-align: middle;
  background: rgb(230, 243, 247);
  padding: 5px 10px;
}

.comments .btnSpan{
  display: inline-block;
  float:right;
}

.comments div{
  display: inline-block;
}

.comments .sub_comment textarea{
  clear: both !important;
  display: inline-block !important;
  width: 100%;
}

.light-bg{
  background-color: rgb(239, 245, 247);
}

@media only screen and (max-width: 550px) and (max-height: 375px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
  .viewBody{
    font-size: 1rem;
    line-height: 2.3;
  }

  .body{
    padding: 50px 0;
  }

  p{
    margin: 8px;
  }

  .markerInfoWindow{
    /* height: auto;
    max-height: 140px;
    min-width: 320px;
    max-width: 380px;
    padding: 0;
    margin: 0;
    overflow-y: scroll; */
  }

  .icon{
    width: 20px;
    height: 20px;
  }

  .iconBtn{
    padding: 7px;
    background: white;
  }

  .comments .iconBtn {
    background: rgb(235, 243, 247);
  }

  .modal{
    top: 2px;
    height: 95vh;
    overflow: scroll;
    line-height: normal;
  }

  .modal-header, .modal-body{
    padding: 2px 5px;
  }

  .modal-footer {
    padding: 10px 10px;
    text-align: center;
    display: initial;
  }

  .top-section nav ul li {
    padding: 0px 3px;
  }

}

@media only screen and (max-width: 450px) and (max-height: 750px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
  .viewBody{
    font-size: 1rem;
    line-height: 2.3;
  }

  .body{
    padding: 50px 0;
  }

  #addPostTag{
    font-size: 1.1rem;
  }

  p{
    margin: 0px 0 ;
  }

  .btn{
    font-size: 1.1rem;
  }

  ngui-map{
    height: calc(100vh - 113px);
  }

  .markerInfoWindow{
    height: auto;
    min-width: 170px;
    width: calc(100vw - 60px) !important;
    padding: 0;
    margin: 0;
    overflow-y: scroll;
  }

  .icon{
    width: 20px;
    height: 20px;
  }

  .iconBtn{
    width: 35px;
    height: 35px;
    background: white;
  }

  .comments .iconBtn {
    background: rgb(235, 243, 247);
  }

  .modal{
    top: 37px;
    height: 500px;
    overflow: scroll;
    line-height: normal;
  }

  .modal-header, .modal-body{
    padding: 10px 10px;
  }

  .modal-footer {
    padding: 10px 10px;
    text-align: center;
    display: initial;
  }

  .search_section textarea{
    min-height: 50px;
  }

  .navBtn{
    width: 40px;
    height: 40px;
  }

  .top-section nav ul li {
    padding: 0px 3px;
  }

}
