hr{
  margin: 0px 1px 10px 1px;
}

p{
  margin: 5px;
}

.body{
  height: calc(100vh);
  width: 100vw;
  text-align: center;
  margin: 0 auto;
  padding: 20px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  background-attachment: fixed;
}

.welcome_msg{
  background-color: rgb(230, 243, 247);
  padding: 10px;
  background-color: rgb(230, 243, 247);
  border-radius: 5px;
  width: fit-content;
}

.wrapper{
  text-align: center;
}

.auth{
  display: inline-block;
  padding: 20px 20px;
  margin: 5px 10px 0 0px;
  background-color: rgb(230, 243, 247);
  /*box-shadow: 5px 5px 5px black;*/
  border-radius: 5px;
}

.top-section {
  width: 100vw;
  color: rgb(17, 231, 255);
  /*background: rgb(44, 147, 249);*/
  /*background: rgb(235, 232, 223);*/
  /*background: rgb(201, 230, 170);*/
  /*position: absolute;*/
  z-index: 1;
  background-color: rgba(0,0,0,.8);
}

.top-section a {
  color: inherit;
  text-decoration: inherit;
}

.top-section nav ul {
  height: 40px;
  line-height: 40px;
}

.top-section nav ul li {
  display: inline;
  list-style-type: none;
  height: auto;
  padding: 3px 6px;
  float: left;
}
.top-section nav ul li:last-child {
  float: right;
}

.top-section nav ul li:hover {
  color: yellow;
}

.btn-dark{
  color: rgb(17, 231, 255);
}

.btn:hover{
  color: yellow;
}

ul{
  margin: 0;
  padding: 0;
}

@media only screen and (max-width: 667px) and (max-height: 375px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
  .viewBody{
    font-size: 1.3rem;
    line-height: 2;
  }

  .body{
    padding: 0;
  }

  .auth{
    padding: 10px 0 ;
    margin: 15px 10px 15px 10px;
    border-radius: 5px;
    width: 90%;
  }

  p{
    margin: 15px;
  }
}

@media only screen and (max-width: 375px) and (max-height: 667px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
  .viewBody{
    font-size: 1.3rem;
    line-height: 2;
  }

  .body{
    padding: 0;
  }

  .auth{
    padding: 20px 0 ;
    margin: 15px 0px 15px 0;
    border-radius: 5px;
    width: 90%;
  }

  p{
    margin: 15px 0 ;
  }
}
