hr{
  margin: 0px 1px 10px 1px;
}

p{
  margin: 5px;
}

.body{
  height: calc(100vh - 45px);
  width: 95vw;
  margin: 0 auto;
  /*background-color: rgb(239, 245, 247);*/
  padding: 10px;
  background-image: url('../../assets/background.jpg');
  background-repeat: no-repeat;
}

.welcome_msg{
  background-color: rgb(230, 243, 247);
  padding: 10px;
  background-color: rgb(230, 243, 247);
  box-shadow: 5px 5px 5px black;
  border-radius: 5px;
  width: fit-content;
}

.wrapper{
  text-align: center;
}
.auth{
  display: inline-block;
  padding: 10px;
  margin: 0 20px 0 0;
  background-color: rgb(230, 243, 247);
  box-shadow: 5px 5px 5px black;
  border-radius: 5px;
}

.top-section {
  width: 100%;
}

.top-section nav ul {
  height: 40px;
  line-height: 40px;
}


.top-section nav ul li {
  display: inline;
  list-style-type: none;
  height: 40px;
  line-height: 40px;
  float: left;
  padding: 0 10px;
}
ul{
  margin: 0;
  padding: 0;
}
