<div class="top-section">
  <nav>
    <ul>
      <li><a routerLink="/">Home</a></li>
      <li><a routerLink="/post">Events</a></li>
      <li><a routerLink="/user">User</a></li>
    </ul>
  </nav>
</div>
<hr>

<div class="body">
  <div *ngIf="loggedInUser" class="welcome_msg">
    Hello <strong>{{loggedInUser.username}}</strong>!
  </div>
  <div *ngIf="!loggedInUser" class="auth">
    <div>
    <h4>Register</h4>
    <p>Username:<input [(ngModel)]="username" type="text" placeholder="username" required></p>
    <p>Password:<input [(ngModel)]="password" type="password" placeholder="password" required></p>
    <button type="button" (click)="registerUser()">Register</button>
    </div>
  </div>
  <div *ngIf="!loggedInUser" class="auth">
    <h4>Login</h4>
    <p>Username:<input [(ngModel)]="username" type="text" placeholder="username" required></p>
    <p>Password:<input [(ngModel)]="password" type="password" placeholder="password" required></p>
    <button type="button" (click)="loginUser()">Login</button>
  </div>
</div>
